*.iml
*.iws
.gradle
local.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/tasks.xml
.idea/dictionaries
.idea/libraries
.idea/shelf
.idea/caches
.idea/gradle.xml
.idea/modules.xml
.idea/deploymentTargetSelector.xml
.idea/migrations.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/compiler.xml
.idea/deviceManager.xml
.DS_Store
/build
/captures
.externalNativeBuild
